@import "modules/colours";
@import "modules/font";
@import "modules/sizes";
@import "modules/border";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* -------------------------------------
  Dashboard styles
------------------------------------- */
div.dashboard {

	p {
		font-size: 1.3em;
		padding-top: 30px;
		text-align: center; 
	}

	h5 {
		height:40px;
		margin: 0;
		vertical-align: middle;
		line-height:40px;
		text-align: center;
		font-size: 1.2em;
		background-color: $plot-title-orange;
		overflow: hidden;
	}
	h5.risk {
		background-color: $plot-orange;	
	}

	#fund-holder {
		height: 400px;
		min-width: 800px;
		margin: 0 auto;
	}

	#history-holder,#target-holder {
		height: 160px;
		width: 100%;
	}

	.date-table-foot {
		display: inline-block;
		height: 23px;
		width: 70%;
		margin-right: 18px;
	}

	#date-holder {
		height: 330px;
		overflow-y: scroll;
		overflow-x: visible;
	}

	table {
		display: table;

		th {
			font-size: 1.1em;
			line-height: 23px;
		}

		td, th {
			text-align: center;
		}
	}

	.other-chart {
		background-color: $plot-orange;
	}

	div.row {
		padding:0;
		background-color: $plot-grey;
	}

	div.risk-holder {
		height: 60px;
		padding: 0;	
		background-color: $plot-grey;
	}

	.current-risk-holder {
		width: 300px;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;

		h5 {
			background-color: $plot-grey;	
		}
	}

	.target-risk-holder {
		background-color: $plot-orange;
		height: 60px;
		width: 100%;	
		padding-left:5px;
		padding-right:5px;
	}

	div.row.summary {
		background-color: $background-colour;	
	}

	.summary {
		.span-4 {
			text-align: center;
		}

		h5 {
			background-color: $background-colour;		
		}

		p {
			margin-top: 5px;
			font-size: 1.5em;
			padding-top:0;
		}
	}

	div.individual-asset {
		min-width: 800px;

		select, input {
			float:none;
			display:inline-block;
			font-size: $font-base-size;
		}

		input {
			text-align: center;
			border-style: solid;
			border-width: thin;
			border-color: $lighter-grey;
		}

		input.error {
			border: 2px solid red;
		}

		label.error {
			text-align: center;
		}
	}
}