@import "modules/colours";
@import "modules/font";
@import "modules/sizes";
@import "modules/border";
@import "vendor/bourbon/bourbon";

/* -------------------------------------
  Title bar styles
------------------------------------- */
div.header {
	margin-top: $top-margin;
	margin-bottom: 30px;
	@include transition(margin-bottom 0.7s ease);

	.title {
		display: table-cell;

		h3 {
			font-size: 50px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 0.8;
		}
	}

	.user-holder {
		display: table-cell;
		text-align: right;
		font-size: 25px;
		padding-right: 60px;
		span {
			text-align: right;
			font-size: 25px;
			span {
				font-size: 15px;
				line-height: 25px;
				vertical-align: middle;
			}
		}
	}
}

#name-handler {
	cursor: pointer;
}

div.header.open {
	margin-bottom: 0;
}

div.user-options {
	padding-right: 50px;
	text-align: right;
	height: 55px;
	@include transition(height 0.7s ease);
	a {
		display: block;
		text-align: right;
		text-decoration: none;
		font-size: 1.4em;
		font-weight: bolder;

		padding: 3px;
		margin: 0;
	}
	a:hover {
		background-color: rgb(231, 231, 231);	
	}
}

div.user-options.closed {
	@include transition(height 0.7s ease);
	height: 0;
}

@media screen and (max-height: 26.375em){
  div.header {
    margin-top: $top-margin-mobile;
  }
}