@import "modules/colours";
@import "modules/font";
@import "modules/margins";
@import "modules/border";
@import "modules/sizes";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* -------------------------------------
  Global Input Styles
------------------------------------- */

input {
  font-size: $font-base-size;
  color: $font-input-colour;
  border: none;
  padding: $default-input-padding $default-input-padding $default-input-padding;
  width:100%
}

input[type=checkbox] {
  width: initial;
  margin-top: $default-input-padding*1.5;
}

input:disabled, select:disabled
{
  background:$light-grey;
}

input.error {
  border: $heavy-border-weight solid red;
}

label.error {
  display: block;
  color: $light-red;
  padding-bottom:$default-input-padding;
}

select {
	font-size: $font-base-size;
	color: $font-input-colour;
	border: none;
	margin-top: $font-base-size/2; 
}