@import "modules/colours";
@import "modules/font";
@import "modules/margins";
@import "modules/border";
@import "modules/sizes";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* -------------------------------------
  Global Layout Styles 
------------------------------------- */

body {
  font-family: $helvetica;
  color: $font-main-colour;
  font-size: $font-base-size;
  font-weight: 100;
  background-color: $background-colour;
}

.reset {
  display: none!important;
}

.span-1 { @include span-columns(1); }
.span-2 { @include span-columns(2); }
.span-3 { @include span-columns(3); }
.span-4 { @include span-columns(4); }
.span-6 { @include span-columns(6); }
.span-7 { @include span-columns(7); }
.span-8 { @include span-columns(8); }
.span-9 { @include span-columns(9); }
.span-10 { @include span-columns(10); }
.span-11 { @include span-columns(11); }
.span-12 { @include span-columns(12); }

.omega {
  @include omega();
}

.container {
  @include outer-container; 
}

.row {
  @include row(table);
  @include pad(0 0 10px 0);
}

.row:after {
  clear:both;
}

.row.end {
  @include outer-container;
  height: $end-row-height;
}

.content-row {
  display: table;
  margin-left: $nav-bar-banner-margin + 10px;
}

.push-left {
  padding-right: $nav-width + $nav-bar-banner-margin + 10px;
  @include transition(all 0.3s ease);
}

.push-left-open {
  padding-right: $nav-bar-banner-margin + 10px;
}

.right {
  float:right;
}

.left {
  float:left;
}

.no-margin {
  margin: 0;
}

@media screen and (max-height: 26.375em){
  .push-left {
    padding-right: $nav-bar-banner-margin + 10px;
  }

  .push-left-open {
      padding-right: $nav-width-mobile + $nav-bar-banner-margin + 10px;
  } 
}
