@import "modules/colours";
@import "modules/font";
@import "modules/margins";
@import "modules/border";
@import "modules/sizes";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* -------------------------------------
  Styles for the modal popup 
------------------------------------- */

.modal {
  width: $default-modal-width;
}

.overlay {
  @include box-sizing(border-box);
  height: 100%;
  background-color: white;
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
	@include transition(opacity .6s);
}

.overlay:target {
  visibility: visible;
  opacity: 0.6;
}

.popup {
  background-color: $primary-content-colour; 
  display: inline-block;
  left: 50%;
  opacity: 0;
  padding: 15px;
  position: fixed;
  text-align: justify;
  top: 40%;
  visibility: hidden;
  z-index: 10;
  color: white;
  font-weight: 300;

  @include transform(translate(-50%, -50%));
  @include transition(opacity .6s);

  p {
  	text-align: left;
  }

  h3 {
    font-weight: 300;
    font-size: 2em;
  }
}

.popup.error {
	background-color: #9B0909;
}

.popup.success {
	background-color: green;
}
.overlay:target+.popup {
  top: 50%;
  opacity: 1;
  visibility: visible;
}