/* -------------------------------------
  Risk rating bar Styles
------------------------------------- */

.rating-bar{
  background:white;
  padding:2px;
}
.rating-bar span{
  display:block;
  height:10px;
}
.rating-bar, .rating-bar span {
  border-radius:3px; 
}

.colour-1{ background:#52B502 }
.colour-2{ background:#7CB502}
.colour-3{ background:#B5AF02 }
.colour-4{ background:#B57C02 }
.colour-5{ background:#B51402 }

.rate-1{ width:20%; }
.rate-2{ width:40%; }
.rate-3{ width:60%; }
.rate-4{ width:80%; }
.rate-5{ width:100%; }