/* -------------------------------------
  Risk rating bar Styles
------------------------------------- */

.rating-bar{
  background:white;
  padding:3px;
}
.rating-bar span{
  display:block;
  height:15px;
}
.rating-bar, .rating-bar span {
  border-radius:4px; 
}

.green{ background:green; }
.yellow{ background:yellow; }
.red{ background:red;}

.rate-1{ width:10%; }
.rate-2{ width:20%; }
.rate-3{ width:30%; }
.rate-4{ width:40%; }
.rate-5{ width:50%; }
.rate-6{ width:60%; }
.rate-7{ width:70%; }
.rate-8{ width:80%; }
.rate-9{ width:90%; }
.rate-10{ width:100%; }