//Global colours
$light-orange:#f95;
$plot-orange:#f2eae1;
$plot-title-orange:	#fedcb2;
$plot-grey: #f6f6f6;
$dark-orange:#362614; 
$dark-grey:#333;
$light-grey:#888;
$light-red:#CA4848;
$highlight-red:#FFA9A9;

//Layout colours
$background-colour:white;
$primary-content-colour: black;
$nav-bar-colour: black;
$nav-bar-bg: $light-orange; 

//Font colours
$font-link-colour: $light-orange; 
$font-main-colour: black; 
$font-input-colour: $dark-grey; 
$nav-title-colour: white;
$nav-link-colour: $light-grey;
$nav-link-click: white;
$main-button-font-colour: white;

//Border colours
$default-border-colour: black;  
$light-border-colour: $dark-grey;

//Shadow colours
$default-shadow-colour: black;

//Highlight colours
$nav-link-active-bg: $dark-orange;
$nav-link-click-bg: $light-grey; 

//Button colours
$main-button-colour: $light-grey;