//Global colours
$light-orange:#f95;
$dark-orange:#d85; 
$dark-grey:#333;
$light-grey:#444;
$light-red:#CA4848;
$highlight-red:#FFA9A9;

//Layout colours
$background-colour:$dark-grey;
$primary-content-colour: $light-grey;

//Font coloyurs
$font-link-colour: $light-orange; 
$font-main-colour: white; 
$font-input-colour: $dark-grey; 

//Border colours
$default-border-colour: black;  
$light-border-colour: white;

//Shadow colours
$default-shadow-colour: black;