$light-orange:#f95;
$dark-orange:#d85; 
$dark-grey:#333;
$light-grey:#444;


$background-colour:$dark-grey;
$primary-content-colour: $light-grey;

$font-link-colour: $light-orange; 
$font-main-colour: white; 
$font-input-colour: $dark-grey; 

$default-border-colour: black;	
$light-border-colour: white;

$default-shadow-colour: black;