//Global sizes
$default-input-height:21px;

$login-container-width:550px;

$default-modal-width: 350px;

$default-input-padding:5px;

$end-row-height:33px;

$top-margin:60px;

//Nav bar
$nav-width: 200px;
$nav-bar-banner-margin:20px;

//Small media sizes
$nav-width-mobile: 190px;
$top-margin-mobile: 10px;