@(title:String, header:String, name:String)
@index(title,header,name) {
<div class="span-12 dashboard">
	<div class="row">
		<div class="span-9 no-margin" id="fund-holder">

		</div>
		<div class="span-3">
			<div class="other-chart">
				<h5>Cash</h5>
				<div id="history-holder">
					&nbsp;
				</div>
			</div>
		</div> 
		<div class="span-3">
			<div class="other-chart">
				<h5>Target Fund</h5>
				<div id="target-holder">
					&nbsp;	
				</div>
			</div>
		</div>
	</div>
	<div class="row risk-holder">
		<div class="span-9 no-margin">
			<div class="current-risk-holder">
				<div class="rating-bar">
		    		<div class="rate-2">
						<span class="green"></span>
					</div>
				</div>
				<h5 class="risk">Low Risk</h5>
			</div>	
		</div>	
		<div class="span-3">
			<div class="target-risk-holder">
			  <div class="rating-bar">
			    <div class="rate-2">
			      <span class="green"></span>
			    </div>
			  </div>
			  <h5 class="risk">Low Risk</h5>
			</div>
		</div>
	</div>
	<div class="summary row">
		<div class="span-4">
			<div class="summary-value">
				<h5>Asset Class Selected</h5>
				<p class="asset-label">
				</p>
			</div>
		</div>
		<div class="span-4">
			<div class="summary-value">
				<h5>Value</h5>
				<p class="currency-label currency">
				</p>
			</div>
		</div>
		<div class="span-4">
			<div class="summary-value">
				<h5>Percentage of Fund</h5>
				<p class="percentage-label">
				</p>
			</div>
		</div>
	</div>
</div>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(function () { 
	$(document).ready(function(){
		updateSummaryLabels();
		updateHistoryGraph();
		getTargetFund();
	});

	var assetLabel = $('.asset-label')[0],
		valueLabel = $('.currency-label')[0],
		percentageLabel = $('.percentage-label')[0],
		currencyLabels = $('.currency');

	var timeSeriesUrl = "http://localhost:9000/service/timeseries/",
		targetFundUrl = "http://localhost:9000/service/targetfund";

	var assetClasses = [{name:'Bank Account',y:2000,percentage:3.41},
						{name:'Shares',y:3000,percentage:5.11},
						{name:'Bonds',y:21122,percentage:36.0},
						{name:'Collectibles',y:123.23,percentage:0.21},
						{name:'Commodities',y:21312.22,percentage:36.3},
						{name:'Property',y:11122,percentage:18.95}];
	var runningTotal = 58679.49;

	var symbolInvestments = [{symbol: "GOOG",assetClass:"Shares",quantity:5,value:5000},
								{symbol: "AAPL",assetClass:"Shares",quantity:5,value:5000},
								{symbol: "HBC",assetClass:"Shares",quantity:5,value:5000},
								{symbol: "AMD",assetClass:"Shares",quantity:5,value:5000}];

	function updateSummaryLabels(assetClass) {
		if (assetClass) {
			assetLabel.innerHTML = assetClass.name;
			valueLabel.innerHTML = assetClass.y;
			percentageLabel.innerHTML = assetClass.percentage.toFixed(2) + '%';	
		}
		else {
			assetLabel.innerHTML = "Net Worth";
			valueLabel.innerHTML = runningTotal;
			percentageLabel.innerHTML = '100' + '%';	
		}
		currencyLabels.formatCurrency({symbol:'£'});
	}

	function updateHistoryGraph(assetClass) {
		var url = timeSeriesUrl;
		var title = "Net Worth"
		if (!assetClass) {
			url = url.slice(0, - 1);
		}
		else {
			url = url + assetClass.name;
			title = assetClass.name;
		}

		$.getJSON( url, function( data ) {
			$('.other-chart h5')[0].innerHTML = title;
			$('#history-holder').highcharts({
			    chart: {
			        backgroundColor: '#f2eae1',
			        plotShadow: false
			    },
			    title: {
			        text: null
			    },
			    legend: {
			    	enabled: false
			    },
			    xAxis: {
			        labels: {
			            enabled: false
			        }
			    },
			    tooltip: {
				    valuePrefix: '£'
			    },
			    yAxis: {
			    	title: {
			    		text: "values (£)"
			    	}
			    },
			    exporting: { enabled: false },
			    series: [{  
			        data: data,
			        name: title
			    }]
			});
		});
	}

	function getTargetFund(){
		$.getJSON( targetFundUrl, function( data ) {
			$('#target-holder').highcharts({
		        chart: {
		            backgroundColor: '#f2eae1',
		            plotShadow: false
		        },
		        title: {
		            text: null
		        },
		        exporting: { enabled: false },
		        plotOptions: {
		            pie: {
		                allowPointSelect: false,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: false
		                },
		                center: ['50%', '50%']
		            }
		        },
		        series: [{
		            name: 'Target Fund',
		            data: data,
		            innerSize: '30%',
		            size: '80%'
		        }]
		    });
		});
	}

    // Create the chart
    $('#fund-holder').highcharts({
        chart: {
            backgroundColor: '#f6f6f6',
            type: 'pie',
            plotBorderWidth: null,
        	plotShadow: false
        },
        title: {
            text: 'Net Worth £' + runningTotal
        },
        exporting: { enabled: false },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                shadow: false,
                center: ['50%', '50%']
            }
        },
        tooltip: {
    	    valuePrefix: '£'
        },
        series: [{
            name: 'Asset Classes',
            data: assetClasses,
            innerSize: '30%',
            size: '80%',
            dataLabels: {
                formatter: function() {
                    return this.y > 1 ? '<b>'+ this.point.name +':</b> £'+ this.y : null;
                },
            },
            point:{
          		events:{
                  	click: function (event) {
                      	var chart = $('#fund-holder').highcharts();
                      	if (!this.selected) {
	                      	chart.setTitle({text: this.name + "  £" + this.y});
	                      	updateSummaryLabels(this);
	                      	updateHistoryGraph(this);
	                    }
	                    else {
	                    	chart.setTitle({text: "Net Worth £" + runningTotal});
	                    	updateSummaryLabels();
	                      	updateHistoryGraph();	
	                    }
                  	}
          		}
        	}, 
        }]
    });
});
</script>
}