@(title:String, header:String,errors:List[Option[String]], success:List[Option[String]])(content:Html)

@main(title,errors,success) {
  <div class="login">
    <div class="centre-container">
      <div>
        <article>
          <div class="row container">
            <div class="span-12 banner">
              <h3>Sail - @header</h3>
            </div>
          </div>
          <!-- Content for the landing page -->
          @content
        </article>
      </div>
    </div>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
  </div>
}