@(title:String, header:String,errors:List[Option[String]], success:List[Option[String]])(content:Html)

@main(title) {
  <div class="login">
    <div class="centre-container">
      <div>
        <aside>
         <!-- Sail branding for left hand side of landing page -->
         <div class="row">
            <img src="@routes.Assets.at("images/Sail logo long.png")" alt="Sail">
         </div> 
         <div class="row">
            <p class="tagline">
              @Messages("view.landing.tagline")
            </p>
         </div> 
        </aside>
        <article>
          <div class="row container">
            <div class="span-12 banner">
              <h3>@header<span class="arrow"></span></h3>
            </div>
          </div>
          <!-- Content for the right hand side of the landing page -->
          @content
        </article>
      </div>
    </div>

      <!-- Iterate over the error messages to make a popup for each -->
      <a href="#x" class="overlay" id="error-message"></a>
      <div class="popup modal error">
        <p id="error">
          @for(error <- errors) {
            @if(error.isDefined) {
              @error.get
            }
          }    
        </p>
        <a class="close" href="#close"></a>
      </div>

      <!-- Iterate over the error messages to make a popup for each -->
      <a href="#x" class="overlay" id="success-message"></a>
      <div class="popup modal success">
        <p id="success">
          @for(successMessage <- success) {
            @if(successMessage.isDefined) {
              @successMessage.get
              }
            } 
        </p>
        <a class="close" href="#close"></a>
      </div>
    <script> 
      //Checks to see if any error/success popups have been created and sets the browser to them
      var errorP = document.getElementById("error"); 
      var successP = document.getElementById("success"); 
      if (successP && successP.innerHTML.replace(/^\s*/, "").replace(/\s*$/, "") != "") {
        window.location.hash = '#success-message';  
      }
      if (errorP && errorP.innerHTML.replace(/^\s*/, "").replace(/\s*$/, "") != "") {
        window.location.hash = '#error-message';
      } 
    </script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
  </div>
}