@(title:String, header:String,errors:List[Option[String]], success:List[Option[String]])(content:Html)

@main(title) {
  <div class="login">
    <div class="centre-container">
      <div>
        <aside> 
         <div class="row">
            <img src="@routes.Assets.at("images/Sail logo long.png")" alt="Sail">
         </div> 
         <div class="row">
            <p class="tagline">
              Eventually, there will be a really nice tagline here about how Sail guides your investments
            </p>
         </div> 
        </aside>
        <article>
          <div class="row container">
            <div class="span-12 banner">
              <h3>@header<span class="arrow"></span></h3>
            </div>
          </div>
          @content
        </article>
      </div>
    </div>
    @for(error <- errors) {
      @if(error.isDefined) {
          <a href="#x" class="overlay" id="message"></a>
          <div class="popup modal error">
            <p id="error">
              @error.get
            </p>
            <a class="close" href="#close"></a>
          </div>
        }
    } 
    @for(successMessage <- success) {
      @if(successMessage.isDefined) {
          <a href="#x" class="overlay" id="message"></a>
          <div class="popup modal success">
            <p id="success">
              @successMessage.get
            </p>
            <a class="close" href="#close"></a>
          </div>
        }
    } 
    <script> 
      var errorP = document.getElementById("error"); 
      var successP = document.getElementById("success"); 
      if (errorP && errorP.innerHTML.replace(/^\s*/, "").replace(/\s*$/, "") != "" ||
          successP && successP.innerHTML.replace(/^\s*/, "").replace(/\s*$/, "") != "") {
          window.location.hash = '#message';
      } 
      </script>
      <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
  </div>
}