@(form: Form[(String,String,String)], key: String)(implicit flash: Flash)

@landing(Messages("view.reset.pagetitle"), Messages("view.reset.title"), {
  // Add each possible error to a sequence
  form.globalError.map { error => error.message } :: 
  Nil
},Nil) {
<div class="span-12 landing-content">
  <!-- reset form -->
  @helper.form(routes.Reset.reset(key), 'class -> "login", 'id -> "reset-form") {
  <div class="row">
      @Messages("view.emaillabel")
  </div>  
  <div class="row">
      <input type="email" name="email" id="email" value="@form("email").value">
  </div>  
  <div class="row">
      @Messages("view.passwordlabel")
  </div>
  <div class="row">
    <input type="password" name="password" id="password">
  </div>  
  <div class="row">
      @Messages("view.reset.confirmlabel")
  </div>
  <div class="row">
    <input type="password" name="confirm" id="confirm">
  </div>  
  <div class="row end">
    <div class="span-8">
      &nbsp;
    </div>
    <div class="span-4 omega">
      <input type="submit" value="@Messages("view.reset.submit")" class="flat-grey small right"></input>
    </div>
  </div>
  }
</div>
<!-- Include the validation for the reset form -->
<script src="@routes.Assets.at("javascripts/validation/reset.validation.js")" type="text/javascript"></script>
}
