@(form: Form[(String,String,String)], key: String)(implicit flash: Flash)

@landing("Sail - Reset Password", "Reset Password", {
  form.globalError.map { error => error.message } :: 
  Nil
},Nil) {
<div class="span-11">
  @helper.form(routes.Reset.reset(key), 'class -> "login", 'id -> "reset-form") {
  <div class="row">
      Email address:
  </div>  
  <div class="row">
      <input type="email" name="email" id="email" value="@form("email").value">
  </div>  
  <div class="row">
      Password:
  </div>
  <div class="row">
    <input type="password" name="password" id="password">
  </div>  
  <div class="row">
      Re-type Password:
  </div>
  <div class="row">
    <input type="password" name="confirm" id="confirm">
  </div>  
  <div class="row end">
    <div class="span-8">
      &nbsp;
    </div>
    <div class="span-4 omega">
      <button type="submit" class="right" id="reset-button">Reset</button>
    </div>
  </div>
  }
</div>
<script src="@routes.Assets.at("javascripts/validation/reset.validation.js")" type="text/javascript"></script>
}
