@(form: Form[(String,String,String)], key: String)(implicit flash: Flash)

<html>
    <body>
        @helper.form(routes.Reset.reset(key)) {

            <h1>Reset</h1>

            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }

            <p>
                <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
                <input type="password" name="confirm" id="confirm" placeholder="Confirm Password">
            </p>
            <p>
                <button type="submit" id="resetbutton">Reset</button>
            </p>

        }
    </body>
</html>
