@(name:String, pageTitle:String, header:String,
        autoAddForm:Form[(String,Int,String)],
        manualAddForm:Form[(String,BigDecimal,String)],
        removeForm:Form[(String,Option[Int],Option[BigDecimal],Boolean,String)])(
        implicit request: play.api.mvc.Request[Any], flash: Flash)
@import play.api.Play
@import play.api.Play.current

@index(pageTitle,header,name, {
  // Add each possible error to a sequence
  flash.get(Play.application.configuration.getString("generic.error").get) ::  
  Nil
},{
  // Add each possible success to a sequence
  flash.get(Play.application.configuration.getString("generic.success").get) ::
  Nil
}) {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/risk.css")">
<div class="span-12">
  <!-- Risk form -->
  @helper.form(routes.RiskAppetite.submit, 'id -> "risk-form", 'class -> "span-12", 'novalidate -> "novalidate") {
  	<div class="span-12">
	  	<ul>
	  		<li class="block">
	  			<h4>@Messages("view.risk.one.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="one-op1" name="one" value="4"><label for="one-op1">
                    @Messages("view.risk.one.1")</label></p>
					<p><input class="option" type="radio" id="one-op2" name="one" value="3"><label for="one-op2">
                    @Messages("view.risk.one.2")</label></p>
					<p><input class="option" type="radio" id="one-op3" name="one" value="2"><label for="one-op3">
                    @Messages("view.risk.one.3")</label></p>
					<p><input class="option" type="radio" id="one-op4" name="one" value="1"><label for="one-op4">
                    @Messages("view.risk.one.4")</label></p>
	  			</div>
	  		</li>
	   		<li class="block">
	  			<h4>@Messages("view.risk.two.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="two-op1" name="two" value="1"><label for="two-op1">
                    @Messages("view.risk.two.1")</label></p>
					<p><input class="option" type="radio" id="two-op2" name="two" value="2"><label for="two-op2">
                    @Messages("view.risk.two.2")</label></p>
					<p><input class="option" type="radio" id="two-op3" name="two" value="3"><label for="two-op3">
                    @Messages("view.risk.two.3")</label></p>
					<p><input class="option" type="radio" id="two-op4" name="two" value="4"><label for="two-op4">
                    @Messages("view.risk.two.4")</label></p>
	  			</div>
	  		</li>
	   		<li class="block">
	  			<h4>@Messages("view.risk.three.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="three-op1" name="three" value="1"><label for="three-op1">
                    @Messages("view.risk.three.1")</label></p>
					<p><input class="option" type="radio" id="three-op2" name="three" value="2"><label for="three-op2">
                    @Messages("view.risk.three.2")</label></p>
					<p><input class="option" type="radio" id="three-op3" name="three" value="3"><label for="three-op3">
                    @Messages("view.risk.three.3")</label></p>
					<p><input class="option" type="radio" id="three-op4" name="three" value="4"><label for="three-op4">
                    @Messages("view.risk.three.4")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.four.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="four-op1" name="four" value="1"><label for="four-op1">
                    @Messages("view.risk.four.1")</label></p>
					<p><input class="option" type="radio" id="four-op2" name="four" value="2"><label for="four-op2">
                    @Messages("view.risk.four.2")</label></p>
					<p><input class="option" type="radio" id="four-op3" name="four" value="3"><label for="four-op3">
                    @Messages("view.risk.four.3")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.five.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="five-op1" name="five" value="1"><label for="five-op1">
                    @Messages("view.risk.five.1")</label></p>
					<p><input class="option" type="radio" id="five-op2" name="five" value="2"><label for="five-op2">
                    @Messages("view.risk.five.2")</label></p>
					<p><input class="option" type="radio" id="five-op3" name="five" value="3"><label for="five-op3">
                    @Messages("view.risk.five.3")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.six.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="six-op1" name="six" value="1"><label for="six-op1">
                    @Messages("view.risk.six.1")</label></p>
					<p><input class="option" type="radio" id="six-op2" name="six" value="2"><label for="six-op2">
                    @Messages("view.risk.six.2")</label></p>
					<p><input class="option" type="radio" id="six-op3" name="six" value="3"><label for="six-op3">
                    @Messages("view.risk.six.3")</label></p>
					<p><input class="option" type="radio" id="six-op4" name="six" value="4"><label for="six-op4">
                    @Messages("view.risk.six.4")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.seven.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="seven-op1" name="seven" value="1"><label for="seven-op1">
                    @Messages("view.risk.seven.1")</label></p>
					<p><input class="option" type="radio" id="seven-op2" name="seven" value="2"><label for="seven-op2">
                    @Messages("view.risk.seven.2")</label></p>
					<p><input class="option" type="radio" id="seven-op3" name="seven" value="3"><label for="seven-op3">
                    @Messages("view.risk.seven.3")</label></p>
					<p><input class="option" type="radio" id="seven-op4" name="seven" value="4"><label for="seven-op4">
                    @Messages("view.risk.seven.4")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.eight.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="eight-op1" name="eight" value="1"><label for="eight-op1">
                    @Messages("view.risk.eight.1")</label></p>
					<p><input class="option" type="radio" id="eight-op2" name="eight" value="2"><label for="eight-op2">
                    @Messages("view.risk.eight.2")</label></p>
					<p><input class="option" type="radio" id="eight-op3" name="eight" value="3"><label for="eight-op3">
                    @Messages("view.risk.eight.3")</label></p>
					<p><input class="option" type="radio" id="eight-op4" name="eight" value="4"><label for="eight-op4">
                    @Messages("view.risk.eight.4")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.nine.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="nine-op1" name="nine" value="1"><label for="nine-op1">
                    @Messages("view.risk.nine.1")</label></p>
					<p><input class="option" type="radio" id="nine-op2" name="nine" value="3"><label for="nine-op2">
                    @Messages("view.risk.nine.2")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.ten.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="ten-op1" name="ten" value="1"><label for="ten-op1">
                    @Messages("view.risk.ten.1")</label></p>
					<p><input class="option" type="radio" id="ten-op2" name="ten" value="3"><label for="ten-op2">
                    @Messages("view.risk.ten.2")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.eleven.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="eleven-op1" name="eleven" value="1">
                        <label for="eleven-op1">@Messages("view.risk.eleven.1")</label></p>
					<p><input class="option" type="radio" id="eleven-op2" name="eleven" value="2">
                        <label for="eleven-op2">@Messages("view.risk.eleven.2")</label></p>
					<p><input class="option" type="radio" id="eleven-op3" name="eleven" value="3">
                        <label for="eleven-op3">@Messages("view.risk.eleven.3")</label></p>
					<p><input class="option" type="radio" id="eleven-op4" name="eleven" value="4">
                        <label for="eleven-op4">@Messages("view.risk.eleven.4")</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>@Messages("view.risk.twelve.q")</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="twelve-op1" name="twelve" value="1">
                        <label for="twelve-op1">@Messages("view.risk.twelve.1")</label></p>
					<p><input class="option" type="radio" id="twelve-op2" name="twelve" value="2">
                        <label for="twelve-op2">@Messages("view.risk.twelve.2")</label></p>
					<p><input class="option" type="radio" id="twelve-op3" name="twelve" value="3">
                        <label for="twelve-op3">@Messages("view.risk.twelve.3")</label></p>
	  			</div>
	  		</li>
	  	</ul>	
	</div>
  	<p><input type="submit" value="@Messages("view.risk.submit")" class="flat-grey small-long" id="submit-button">

  	</input></p>
  }
</div>
<!-- Include the validation for the risk form -->
<script src="@routes.Assets.at("javascripts/validation/risk.validation.js")" type="text/javascript"></script>
}