@(name:String, pageTitle:String, header:String,
        autoAddForm:Form[(String,Int,String)],
        manualAddForm:Form[(String,BigDecimal,String)],
        removeForm:Form[(String,Option[Int],Option[BigDecimal],Boolean,String)])(
        implicit request: play.api.mvc.Request[Any], flash: Flash)
@import play.api.Play
@import play.api.Play.current

@index(pageTitle,header,name, {
  // Add each possible error to a sequence
  flash.get(Play.application.configuration.getString("generic.error").get) ::  
  Nil
},{
  // Add each possible success to a sequence
  flash.get(Play.application.configuration.getString("generic.success").get) ::
  Nil
}) {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/risk.css")">
<div class="span-12">
  <!-- Risk form -->
  @helper.form(routes.RiskAppetite.submit, 'id -> "risk-form", 'class -> "span-12", 'novalidate -> "novalidate") {
  	<div class="span-12">
	  	<ul>
	  		<li class="block">
	  			<h4>In general, how would your best friend describe you as a risk taker?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="one-op1" name="one" value="4"><label for="one-op1">A real gambler</label></p>
					<p><input class="option" type="radio" id="one-op2" name="one" value="3"><label for="one-op2">Willing to take risks after completing adequate research</label></p>
					<p><input class="option" type="radio" id="one-op3" name="one" value="2"><label for="one-op3">Cautious</label></p>
					<p><input class="option" type="radio" id="one-op4" name="one" value="1"><label for="one-op4">A real risk avoider</label></p>
	  			</div>
	  		</li>
	   		<li class="block">
	  			<h4>You are on a TV game show and can choose one of the following. Which would you take?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="two-op1" name="two" value="1"><label for="two-op1">£1,000 in cash</label></p>
					<p><input class="option" type="radio" id="two-op2" name="two" value="2"><label for="two-op2">A 50% chance at winning £5,000</label></p>
					<p><input class="option" type="radio" id="two-op3" name="two" value="3"><label for="two-op3">A 25% chance at winning £10,000</label></p>
					<p><input class="option" type="radio" id="two-op4" name="two" value="4"><label for="two-op4">A 5% chance at winning £100,000</label></p>
	  			</div>
	  		</li>
	   		<li class="block">
	  			<h4>You have just finished saving for a "once-in-a-lifetime" vacation. Three weeks before you plan to leave, you lose your job. You would:</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="three-op1" name="three" value="1"><label for="three-op1">Cancel the vacation</label></p>
					<p><input class="option" type="radio" id="three-op2" name="three" value="2"><label for="three-op2">Take a much more modest vacation</label></p>
					<p><input class="option" type="radio" id="three-op3" name="three" value="3"><label for="three-op3">Go as scheduled, reasoning that you need the time to prepare for a job search</label></p>
					<p><input class="option" type="radio" id="three-op4" name="three" value="4"><label for="three-op4">Extend your vacation, because this might be your last chance to go first-class</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>If you unexpectedly received £20,000 to invest, what would you do?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="four-op1" name="four" value="1"><label for="four-op1">Deposit it in a bank account, money market account, or an insured CD</label></p>
					<p><input class="option" type="radio" id="four-op2" name="four" value="2"><label for="four-op2">Invest it in safe high quality bonds or bond mutual funds</label></p>
					<p><input class="option" type="radio" id="four-op3" name="four" value="3"><label for="four-op3">Invest it in stocks or stock mutual funds</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>In terms of experience, how comfortable are you investing in stocks or stock mutual funds?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="five-op1" name="five" value="1"><label for="five-op1">Not at all comfortable</label></p>
					<p><input class="option" type="radio" id="five-op2" name="five" value="2"><label for="five-op2">Somewhat comfortable</label></p>
					<p><input class="option" type="radio" id="five-op3" name="five" value="3"><label for="five-op3">Very comfortable</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>When you think of the word "risk" which of the following words comes to mind first?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="six-op1" name="six" value="1"><label for="six-op1">Loss</label></p>
					<p><input class="option" type="radio" id="six-op2" name="six" value="2"><label for="six-op2">Uncertainty</label></p>
					<p><input class="option" type="radio" id="six-op3" name="six" value="3"><label for="six-op3">Opportunity</label></p>
					<p><input class="option" type="radio" id="six-op4" name="six" value="4"><label for="six-op4">Thrill</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>Some experts are predicting prices of assets such as gold, jewels, collectibles, and real estate (hard assets) to increase in value; bond prices may fall, however, experts tend to agree that government bonds are relatively safe. Most of your investment assets are now in high-interest government bonds. What would you do?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="seven-op1" name="seven" value="1"><label for="seven-op1">Hold the bonds</label></p>
					<p><input class="option" type="radio" id="seven-op2" name="seven" value="2"><label for="seven-op2">Sell the bonds, put half the proceeds into money market accounts, and the other half into hard assets</label></p>
					<p><input class="option" type="radio" id="seven-op3" name="seven" value="3"><label for="seven-op3">Sell the bonds and put the total proceeds into hard assets</label></p>
					<p><input class="option" type="radio" id="seven-op4" name="seven" value="4"><label for="seven-op4">Sell the bonds, put all the money into hard assets, and borrow additional money to buy more</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>Given the best- and worst-case returns of the four investment choices below, which would you prefer?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="eight-op1" name="eight" value="1"><label for="eight-op1">£200 gain best case; £0 gain/loss worst case</label></p>
					<p><input class="option" type="radio" id="eight-op2" name="eight" value="2"><label for="eight-op2">£800 gain best case; £200 loss worst case</label></p>
					<p><input class="option" type="radio" id="eight-op3" name="eight" value="3"><label for="eight-op3">£2,600 gain best case; £800 loss worst case</label></p>
					<p><input class="option" type="radio" id="eight-op4" name="eight" value="4"><label for="eight-op4">£4,800 gain best case; £2,400 loss worst case</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>In addition to whatever you own, you have been given £1,000. You are now asked to choose between:</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="nine-op1" name="nine" value="1"><label for="nine-op1">A sure gain of £500</label></p>
					<p><input class="option" type="radio" id="nine-op2" name="nine" value="3"><label for="nine-op2">A 50% chance to gain £1,000 and a 50% chance to gain nothing</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>In addition to whatever you own, you have been given £2,000. You are now asked to choose between:</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="ten-op1" name="ten" value="1"><label for="ten-op1">A sure loss of £500</label></p>
					<p><input class="option" type="radio" id="ten-op2" name="ten" value="3"><label for="ten-op2">A 50% chance to lose £1,000 and a 50% chance to lose nothing</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>Suppose a relative left you an inheritance of £100,000, stipulating in the will that you invest ALL the money in ONE of the following choices. Which one would you select?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="eleven-op1" name="eleven" value="1"><label for="eleven-op1">A savings account or money market mutual fund</label></p>
					<p><input class="option" type="radio" id="eleven-op2" name="eleven" value="2"><label for="eleven-op2">A mutual fund that owns stocks and bonds</label></p>
					<p><input class="option" type="radio" id="eleven-op3" name="eleven" value="3"><label for="eleven-op3">A portfolio of 15 common stocks</label></p>
					<p><input class="option" type="radio" id="eleven-op4" name="eleven" value="4"><label for="eleven-op4">Commodities like gold, silver, and oil</label></p>
	  			</div>
	  		</li>
	  		<li class="block">
	  			<h4>If you had to invest £20,000, which of the following investment choices would you find most appealing?</h4>
	  			<div class="radio-options">
					<p><input class="option" type="radio" id="twelve-op1" name="twelve" value="1"><label for="twelve-op1">60% in low-risk investments 30% in medium-risk investments 10% in high-risk investments</label></p>
					<p><input class="option" type="radio" id="twelve-op2" name="twelve" value="2"><label for="twelve-op2">30% in low-risk investments 40% in medium-risk investments 30% in high-risk investments</label></p>
					<p><input class="option" type="radio" id="twelve-op3" name="twelve" value="3"><label for="twelve-op3">10% in low-risk investments 40% in medium-risk investments 50% in high-risk investments</label></p>
	  			</div>
	  		</li>
	  	</ul>	
	</div>
  	<p><input type="submit" value="Submit" class="flat-grey small-long" id="submit-button"></input></p>
  }
</div>
<!-- Include the validation for the risk form -->
<script src="@routes.Assets.at("javascripts/validation/risk.validation.js")" type="text/javascript"></script>
}