* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 15px;
  background-color: #333333; }

div.login {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.login:before, div.login:after {
    content: " ";
    display: table; }
  div.login:after {
    clear: both; }
  div.login .modal {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #444444;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0 0 6px black; }
    div.login .modal form.login input {
      font-size: 15px;
      color: #333333;
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px 5px 5px; }
    div.login .modal div {
      *zoom: 1;
      display: table;
      width: 100%;
      table-layout: fixed; }
      div.login .modal div:before, div.login .modal div:after {
        content: " ";
        display: table; }
      div.login .modal div:after {
        clear: both; }
    div.login .modal aside {
      display: table-cell;
      padding-right: 1.76824%;
      width: 33.5298%;
      padding: 2.35765%;
      height: 100%;
      border-right: 1px solid white;
      box-shadow: 10px 0 6px -10px black; }
      div.login .modal aside img {
        display: table-cell;
        padding-right: 2.16118%;
        width: 102.16118%; }
      div.login .modal aside .tagline {
        font-size: 17px;
        font-style: italic;
        line-height: 1.3;
        text-align: center; }
    div.login .modal article {
      display: table-cell;
      padding-right: 2.06295%;
      width: 67.94373%;
      padding: 2.35765%;
      vertical-align: bottom; }
    div.login .modal .row {
      padding: 0 0 2.35765% 0; }
    div.login .modal .row:after {
      clear: both; }
    div.login .modal .register {
      display: none; }
    div.login .modal button {
      float: right; }
    div.login .modal a {
      color: #ff9955; }
