/* -------------------------------------
  Dashboard global styles
------------------------------------- */
/* -------------------------------------
  Nav bar styles
------------------------------------- */
body.nav-bar-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: scroll; }

body.nav-bar-push-toright {
  left: 200px; }

.nav-bar {
  background: black;
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 1000;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .nav-bar h3 {
    color: white;
    font-size: 31.41509px;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #ff9955;
    cursor: pointer;
    margin-top: 60px;
    line-height: 0.5;
    margin-left: 20px;
    margin-right: -20px;
    margin-bottom: 30px; }
  .nav-bar a {
    display: block;
    color: #888888;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1em;
    padding-left: 20px; }
  .nav-bar a:hover {
    background: #362614;
    color: white; }
  .nav-bar a:active {
    background: #888888;
    color: white; }
  .nav-bar div.menu-item a:hover {
    background: inherit;
    color: #888888; }
  .nav-bar div.menu-item a:active {
    background: inherit;
    color: #888888; }
  .nav-bar div.menu-item ul {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    transition: height 1s ease; }
    .nav-bar div.menu-item ul a {
      border-left: 2px solid #888888;
      padding: 0.6em;
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: 10px; }
    .nav-bar div.menu-item ul a:hover {
      background: #362614;
      color: white; }
    .nav-bar div.menu-item ul a:active {
      background: #888888;
      color: white; }
  .nav-bar div.menu-item.open ul {
    height: 105px; }

.nav-bar.nav-bar-closed {
  left: -200px; }

@media screen and (max-height: 26.375em) {
  .nav-bar {
    font-size: 90%;
    width: 190px;
    left: -190px; }
    .nav-bar h3 {
      margin-top: 10px; }

  .nav-bar.nav-bar-closed {
    left: 0; }

  body.nav-bar-push {
    left: 190px; }

  body.nav-bar-push-toright {
    left: 0; } }
/* -------------------------------------
  Title bar styles
------------------------------------- */
div.header {
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-transition: margin-bottom 0.7s ease;
  -moz-transition: margin-bottom 0.7s ease;
  transition: margin-bottom 0.7s ease; }
  div.header .title {
    display: table-cell; }
    div.header .title h3 {
      font-size: 50px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 0.8; }
  div.header .user-holder {
    display: table-cell;
    text-align: right;
    font-size: 25px;
    padding-right: 60px; }
    div.header .user-holder span {
      text-align: right;
      font-size: 25px; }
      div.header .user-holder span span {
        font-size: 15px;
        line-height: 25px;
        vertical-align: middle; }

#name-handler {
  cursor: pointer; }

div.header.open {
  margin-bottom: 0; }

div.user-options {
  padding-right: 50px;
  text-align: right;
  height: 55px;
  -webkit-transition: height 0.7s ease;
  -moz-transition: height 0.7s ease;
  transition: height 0.7s ease; }
  div.user-options a {
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bolder;
    padding: 3px;
    margin: 0; }
  div.user-options a:hover {
    background-color: #e7e7e7; }

div.user-options.closed {
  -webkit-transition: height 0.7s ease;
  -moz-transition: height 0.7s ease;
  transition: height 0.7s ease;
  height: 0; }

@media screen and (max-height: 26.375em) {
  div.header {
    margin-top: 10px; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -------------------------------------
  Dashboard styles
------------------------------------- */
div.dashboard p {
  font-size: 1.3em;
  padding-top: 30px;
  text-align: center; }
div.dashboard h5 {
  height: 40px;
  margin: 0;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  background-color: #fedcb2;
  overflow: hidden; }
div.dashboard h5.hover {
  background-color: #DDB583; }
div.dashboard h5.risk {
  background-color: #f2eae1; }
div.dashboard #fund-holder {
  height: 400px;
  min-width: 800px;
  margin: 0 auto; }
div.dashboard #history-holder, div.dashboard #target-holder {
  height: 160px;
  width: 100%; }
div.dashboard .date-table-foot {
  display: inline-block;
  height: 23px;
  width: 70%;
  margin-right: 18px; }
div.dashboard #date-holder {
  height: 330px;
  overflow-y: scroll;
  overflow-x: visible; }
div.dashboard table {
  display: table; }
  div.dashboard table th, div.dashboard table td {
    text-align: right; }
  div.dashboard table th {
    font-size: 1.1em;
    line-height: 23px; }
  div.dashboard table .left {
    text-align: left; }
div.dashboard .other-chart {
  background-color: #f2eae1; }
div.dashboard div.row {
  padding: 0;
  background-color: #f6f6f6; }
div.dashboard div.risk-holder {
  height: 60px;
  padding: 0;
  background-color: #f6f6f6; }
  div.dashboard div.risk-holder div.span-3 {
    background-color: #f2eae1; }
div.dashboard .current-risk-holder {
  max-width: 300px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto; }
  div.dashboard .current-risk-holder h5 {
    background-color: #f6f6f6; }
div.dashboard .target-risk-holder {
  background-color: #f2eae1;
  max-width: 300px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px; }
div.dashboard div.row.summary {
  background-color: white; }
div.dashboard .summary .span-4 {
  text-align: center; }
div.dashboard .summary h5 {
  background-color: white; }
div.dashboard .summary p {
  margin-top: 5px;
  font-size: 1.5em;
  padding-top: 0; }
div.dashboard div.individual-asset {
  min-width: 800px; }
  div.dashboard div.individual-asset select, div.dashboard div.individual-asset input {
    float: none;
    display: inline-block;
    font-size: 12px; }
  div.dashboard div.individual-asset input {
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #cfcfcf; }
  div.dashboard div.individual-asset input.error {
    border: 2px solid red; }
  div.dashboard div.individual-asset label.error {
    text-align: center; }

/* -------------------------------------
  Risk rating bar Styles
------------------------------------- */
.rating-bar {
  background: white;
  padding: 2px; }

.rating-bar span {
  display: block;
  height: 10px; }

.rating-bar, .rating-bar span {
  border-radius: 3px; }

.colour-1 {
  background: #52b502; }

.colour-2 {
  background: #7CB502; }

.colour-3 {
  background: #b5af02; }

.colour-4 {
  background: #b57c02; }

.colour-5 {
  background: #b51402; }

.rate-1 {
  width: 20%; }

.rate-2 {
  width: 40%; }

.rate-3 {
  width: 60%; }

.rate-4 {
  width: 80%; }

.rate-5 {
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -------------------------------------
  Styles for the modal popup 
------------------------------------- */
.modal {
  width: 450px; }

.overlay {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background-color: white;
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.overlay:target {
  visibility: visible;
  opacity: 0.6; }

.popup {
  background-color: black;
  display: inline-block;
  left: 50%;
  opacity: 0;
  padding: 15px;
  position: fixed;
  text-align: justify;
  top: 40%;
  visibility: hidden;
  z-index: 10;
  color: white;
  font-weight: 300;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s; }
  .popup p {
    text-align: left; }
  .popup h3 {
    font-weight: 300;
    font-size: 2em; }

.popup.error {
  background-color: #9B0909; }

.popup.success {
  background-color: green; }

.overlay:target + .popup {
  top: 50%;
  opacity: 1;
  visibility: visible; }
